<div id="dvFundo"></div>
<div class="boxChat">
  <div class="boxChatIcone">
    <div #dvConversa class="boxConversa">
      <div class="headerBC">
        Suporte Virtual Prodesp
        <span (click)="fechaChat()" class="closeChat">X</span>
      </div>

      <div id="conteudoBC" class="conteudoBC" #dvConteudo>
      </div>

      <div class="footerBC">
        <input
          type="text"
          id="chatInput"
          style="width: 80%;"
          placeholder="Digite uma mensagem..."
          onkeypress="return newEvent(event)"
        />
        <a href="#" onclick="novoEvento()" class="send-btn"></a>
      </div>
    </div>

    <figure #chatIcon (click)="abreChat()" >
      <div *ngIf="!mostraChat" class="bgAjuda">Posso te ajudar?</div>
      <img src="../../assets/img/icon_chat.png" alt=""  />
      <figcaption></figcaption>
    </figure>
  </div>
</div>

